:root {
  --black: #000;
  --gold: #d4af37; /* oro */
  --white: #fff;
}

.intro-overlay {
  position: fixed;
  inset: 0;
  background: var(--black);
  display: grid;
  place-items: center;
  z-index: 9999;
  transition: opacity .45s ease, visibility .45s ease;
}

.intro-hide {
  opacity: 0;
  visibility: hidden;
}

.intro-wrap {
  text-align: center;
}

.intro-svg {
  width: 200px;   /* più piccolo di default */
  height: 200px;
  display: block;
  transform-origin: 50% 50%;
}

.intro-texts {
  margin-top: -32px; /* distanza minima dal cerchio */
  display: flex;
  flex-direction: column;
  line-height: 2;
}

/* Nome in oro */
.intro-name {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--gold);
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.8s ease;
  margin: 0;
  letter-spacing: 0.5em; 
}

/* Sottotitolo in bianco */
.intro-sub {
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.8s ease 0.5s; /* ritardo */
  margin: 0;
  letter-spacing: 0.2em; 

}

/* Classi quando si attivano */
.show {
  opacity: 1;
  transform: translateY(0);
}

.show-sub {
  opacity: 1;
  transform: translateY(0);
}

/* --- Responsive --- */
@media (min-width: 900px) {
  .intro-svg {
    width: 280px;   /* più piccolo anche in desktop */
    height: 280px;
  }
  .intro-name {
    font-size: 1.8rem;
  }
  .intro-sub {
    font-size: 1.2rem;
  }
  .intro-texts {
    margin-top: -47px; /* distanza minima dal cerchio */

}
}
